[data-md-color-scheme="vatphil"] {
  --md-primary-fg-color:        #8c7804;
  --md-primary-fg-color--light: #d9d61c;
  --md-primary-fg-color--dark:  #403c01;
}

:root {
  --md-admonition-icon--phraseology: url('data:image/svg+xml;charset=utf-8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 225"><g transform="translate(0,225) scale(0.1,-0.1)" fill="%23000000" stroke="none"><path d="M906 2144 c-39 -8 -96 -26 -127 -39 -175 -71 -301 -231 -359 -457 l-23 -86 -76 -38 c-107 -53 -193 -140 -216 -218 -23 -80 -17 -186 14 -248 37 -72 109 -136 212 -187 l92 -46 27 -72 c53 -139 164 -298 256 -365 60 -44 185 -111 237 -128 26 -8 41 -20 48 -38 6 -15 25 -42 42 -61 99 -105 265 -94 345 23 29 44 32 55 32 123 0 86 -12 114 -69 166 -93 84 -217 76 -307 -18 l-51 -53 -74 35 c-56 27 -93 55 -156 118 -69 70 -89 98 -131 186 -79 163 -86 205 -87 474 0 273 13 351 79 490 75 158 187 254 337 290 82 19 276 20 348 0 188 -50 320 -193 380 -415 26 -94 41 -297 41 -554 l0 -199 53 6 c116 12 243 78 307 158 148 187 81 421 -153 533 l-77 37 -16 57 c-51 184 -97 275 -184 362 -67 67 -155 119 -255 150 -94 30 -382 38 -489 14z"/></g></svg>')
}
.md-typeset .admonition.phraseology,
.md-typeset details.phraseology {
  border-color: rgb(43, 155, 70);
}
.md-typeset .phraseology > .admonition-title,
.md-typeset .phraseology > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .phraseology > .admonition-title::before,
.md-typeset .phraseology > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--phraseology);
          mask-image: var(--md-admonition-icon--phraseology);
}

:root {
  --md-admonition-icon--weather: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23000000" d="M16.67 20.8299C16.65 20.8299 16.64 20.8299 16.63 20.8299H5.54003C2.60003 20.6199 1.28003 18.3499 1.28003 16.3399C1.28003 14.5399 2.33003 12.5399 4.61003 11.9899C3.61003 8.14995 5.51003 5.45995 7.75003 4.18995C10.35 2.70995 14.22 2.69995 16.57 5.54995C16.59 5.57995 16.61 5.60995 16.63 5.63995C17.33 6.52995 17.82 7.59995 18.1 8.83995C19.33 9.10995 20.39 9.76995 21.22 10.7499C23.11 12.9799 23.47 16.8599 20.77 19.2399C19.65 20.2699 18.2 20.8299 16.67 20.8299ZM11.49 4.69995C10.43 4.69995 9.38003 4.98995 8.50003 5.48995C6.08003 6.86995 5.26003 9.42995 6.30003 12.3499C6.38003 12.5799 6.35003 12.8399 6.21003 13.0299C6.07003 13.2199 5.84003 13.3499 5.60003 13.3499C3.66003 13.4899 2.79003 14.9499 2.79003 16.3399C2.79003 17.7299 3.66003 19.1899 5.60003 19.3399H16.64C17.8 19.3499 18.92 18.9199 19.77 18.1399L19.78 18.1299C21.81 16.3499 21.51 13.4199 20.08 11.7299C19.38 10.8999 18.45 10.3899 17.38 10.2499C17.05 10.2099 16.79 9.95995 16.74 9.62995C16.53 8.38995 16.09 7.34995 15.43 6.52995C15.41 6.50995 15.4 6.47995 15.38 6.45995C14.32 5.21995 12.9 4.69995 11.49 4.69995Z"/><path fill="%23000000" d="M7.26009 13.7598C7.15009 13.7598 7.03009 13.7298 6.93009 13.6798C6.51009 13.4698 6.05009 13.3598 5.58009 13.3498C5.17009 13.3398 4.84009 12.9998 4.84009 12.5898C4.85009 12.1798 5.24009 11.8398 5.60009 11.8498C6.29009 11.8598 6.98009 12.0298 7.59009 12.3398C7.96009 12.5198 8.11009 12.9798 7.93009 13.3498C7.80009 13.6098 7.54009 13.7598 7.26009 13.7598Z"/><path fill="%23000000" d="M15.85 10.6702C15.57 10.6702 15.31 10.5202 15.18 10.2502C14.99 9.88022 15.15 9.43022 15.52 9.24022C16.14 8.93022 16.83 8.76022 17.51 8.75022C17.91 8.74022 18.27 9.07022 18.27 9.49022C18.28 9.90022 17.95 10.2502 17.53 10.2502C17.07 10.2602 16.6 10.3702 16.18 10.5802C16.07 10.6402 15.96 10.6702 15.85 10.6702Z"/><path fill="%23000000" d="M20.65 11.98C20.44 11.98 20.22 11.89 20.07 11.71C19.38 10.88 18.44 10.37 17.37 10.23C17.04 10.19 16.78 9.94 16.73 9.61C16.52 8.37 16.08 7.33 15.42 6.51C15.31 6.38 15.25 6.21 15.25 6.04C15.25 5.84 15.33 5.64 15.47 5.5C16.27 4.69 17.33 4.25 18.47 4.25C20.81 4.25 22.72 6.16 22.72 8.5C22.72 9.8 22.14 11.01 21.12 11.82C20.98 11.93 20.82 11.98 20.65 11.98ZM18.11 8.84C19.07 9.05 19.94 9.5 20.66 10.16C21.02 9.69 21.22 9.11 21.22 8.5C21.22 6.98 19.99 5.75 18.47 5.75C17.95 5.75 17.45 5.89 17.02 6.17C17.53 6.94 17.89 7.84 18.11 8.84Z"/></svg>');
}
.md-typeset .admonition.weather,
.md-typeset details.weather {
  border-color: rgb(41, 128, 185);
}
.md-typeset .weather > .admonition-title,
.md-typeset .weather > summary {
  background-color: rgba(41, 128, 185, 0.1);
}
.md-typeset .weather > .admonition-title::before,
.md-typeset .weather > summary::before {
  background-color: rgb(41, 128, 185);
  -webkit-mask-image: var(--md-admonition-icon--weather);
          mask-image: var(--md-admonition-icon--weather);
}