[data-md-color-scheme="vatphil"] {
  --md-primary-fg-color:        #8c7804;
  --md-primary-fg-color--light: #d9d61c;
  --md-primary-fg-color--dark:  #403c01;
}

:root {
  --md-admonition-icon--phraseology: url('../../assets/img/phraseology.svg')
}
.md-typeset .admonition.phraseology,
.md-typeset details.phraseology {
  border-color: rgb(43, 155, 70);
}
.md-typeset .phraseology > .admonition-title,
.md-typeset .phraseology > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .phraseology > .admonition-title::before,
.md-typeset .phraseology > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--phraseology);
          mask-image: var(--md-admonition-icon--phraseology);
}